# MAX32666FTHR boards configuration

# Copyright (c) 2023 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_MAX32666FTHR

config BOARD
	default "max32666fthr" if BOARD_MAX32666FTHR

endif # BOARD_MAX32666FTHR
