# Analog Devices MAX32xxx MCU series

# Copyright (c) 2023 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "MAX32XXX MCU Selection"
	depends on SOC_SERIES_MAX32

config SOC_MAX32655
	bool "MAX32655"

config SOC_MAX32665
	bool "MAX32665"

config SOC_MAX32666
	bool "MAX32666"

config SOC_MAX32690
	bool "MAX32690"

endchoice
