# Analog Devices MAX32655 MCU

# Copyright (c) 2023 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_MAX32655

config SOC
	default "max32655"

config NUM_IRQS
	default 125

config SERIAL_SUPPORT_INTERRUPT
	bool
	default n

endif # SOC_MAX32655
