# MAX32655FTHR/EVKIT boards configuration

# Copyright (c) 2023 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_MAX32655FTHR || BOARD_MAX32655EVKIT

config BOARD
	default "max32655fthr" if BOARD_MAX32655FTHR
	default "max32655evkit" if BOARD_MAX32655EVKIT

endif # BOARD_MAX32655FTHR/EVKIT
